.portfolio-btn{

}

.bg-reb{
    
    background-color: rebeccapurple !important;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  /* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }


.isal-animate {
    perspective: 1000px;
}

.sal-animate:hover img {
    will-change: transform;
    transform: perspective(1000px) rotateX(5deg) rotateY(5deg);
}


.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.lang-btn{
  /* height: 60px;
  width: 60px; */
  border-radius: 50%;
  background-color: var(--color-body);
  color: white;
  padding: 10px;

}
